body {
  text-align: center;
  margin: 0;
}

body a {
   text-decoration: none;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 400;
  /*color: #0D2C40;*/
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0D2C40;
  letter-spacing: 1px;
}

nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a:hover {
  border-bottom: 2px solid white;
}

nav a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f15b31;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
}

main {
  width: 850px;
  margin: 35px auto;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

img {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

footer {
  text-transform: uppercase;
  margin: 0 20px;
  background-color: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
